{% extends 'base.html' %} {% block content %}

<h1>Game details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{game.name}}</span>
    <h4><span class="purple-text">Genre(s): </span> {{game.genre}}</h4>
    <h4><span class="purple-text darken-1">Description: </span> {{game.desc}}</h4>
    <h4><span class="purple-text">Year released: </span> {{game.year}}</h4>
    {% if 'PC' in game.platform %}
    <h4><span class="purple-text">Played on: </span> {{game.platform}}</h4>
    <h4>
      <img
        src="https://c.tenor.com/lnHy5A_HnVMAAAAC/pc-master-race-gaming.gif"
        alt="pc masterrace meme"
      />
    </h4>
    {% elif 'PS4' in game.platform %}
    <h4 class="purple-text">Played on: {{game.platform}}</h4>
    <h4>
      <img
        src="https://s3.memeshappen.com/memes/You-Play-PS4--I-do-PC-master-Race-meme-23700.jpg"
        alt="PS4 things"
      />
    </h4>
    {% else %}
    <h4 class="blue-text">Played on: {{game.platform}}</h4>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'games_update' game.id %}">Edit</a>
    <a href="{% url 'games_delete' game.id %}">Delete</a>
  </div>
</div>
{% endblock %}
