{% extends 'base.html' %} {% block content %}

<h1>Game details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{game.name}}</span>
    <h4>Genre(s): {{game.genre}}</h4>
    <h4>description: {{game.desc}}</h4>
    <h4>Year Released: {{game.year}}</h4>
    {% if 'PC' in game.platform %}
    <h4>Played on: {{game.platform}}</h4>
    <h4>
      <img
        src="https://c.tenor.com/lnHy5A_HnVMAAAAC/pc-master-race-gaming.gif"
        alt="pc masterrace meme"
      />
    </h4>
    {% elif 'PS4' in game.platform %}
    <h4>Played on: {{game.platform}}</h4>
    <h4>
      <img
        src="https://s3.memeshappen.com/memes/You-Play-PS4--I-do-PC-master-Race-meme-23700.jpg"
        alt="PS4 things"
      />
    </h4>
    {% else %}
    <h4>Platform(s): {{game.platform}}</h4>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'games_update' game.id %}">Edit</a>
    <a href="{% url 'games_delete' game.id %}">Delete</a>
  </div>
</div>
<!-- Date  -->
<div class="col s6">
  <form action="{% url 'add_playdate' game.id %}" method="POST">
    {% csrf_token %} {{ playdate_form.as_p }}
    <input type="submit" value="Add a date for game played" class="btn green">
  </form>
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for date in game.date_set.all %}
      <tr>
        <td>{{date.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>


<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}
