{% extends 'base.html' %} {% block content %}
<h1>Games List</h1>

{% for game in games %}
<div class="game-container card">
  <a href="{% url 'detail' game.id %}">
    <div class="card-content z-depth-5 adjust bg-radial">
      <div class="card-title center">{{ game.name }}</div>
    </div>
  </a>

  <p class="card-content center">{{game.desc }}</p>

  <div class="purple darken-1 white-text">Released in - {{ game.year }} and played on {{ game.platform }}</div>
</div>
<!-- <div class="card small">
  <a href="{% url 'detail' game.id %}">
    <div class="card-content">
      <h2>
        <span class="card-title">{{game.name}}</span>
      </h2>
      {% if 'PC' in game.platform %}
      <h4>Played on: {{game.platform}}</h4>

      {% elif 'PS4' in game.platform %}
      <h4>Played on: {{game.platform}}</h4>

      {% elif 'xbox' in game.platform %}
      <h4>Played on: {{game.platform}}</h4>

      {% else %}
      <h4>Played on: {{game.platform}}</h4>
      {% endif %}
    </div>
  </a>
</div> -->
{% endfor %} {% endblock %}
